<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopN</title>

    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/lib/bs-table/bootstrap-table.min.css">

    <script src="../../../common/lib/jquery/jquery.min.js"></script>
    <script src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../common/lib/bs-table/bootstrap-table.min.js"></script>
    <script src="../../../common/lib/bs-table/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" href="../less/network.css">
</head>
<body>

<div class="container">
    <h2>Network Card</h2>
    <p>Display those informations about network cards.</p>

    <table id="network"></table>
    <script src="../js/network.js"></script>
</div>
</body>
</html>