<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TopN</title>

    <link rel="stylesheet" href="../../../common/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../common/lib/bs-table/bootstrap-table.min.css">

    <script src="../../../common/lib/jquery/jquery.min.js"></script>
    <script src="../../../common/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../common/lib/bs-table/bootstrap-table.min.js"></script>
    <script src="../../../common/lib/bs-table/bootstrap-table-zh-CN.min.js"></script>

    <link rel="stylesheet" href="../less/capture.css">
</head>
<body>

<div class="container">
    <h2>Capture Package</h2>
    <p>Display those informations about packages.</p>

    <table id="capture"></table>
    <script src="../js/capture.js"></script>

    <table class="table">
        <thead>
        <tr>
            <th>Protocol Name</th>
            <th>Informations</th>
        </tr>
        </thead>
        <tbody>
        <tr class="success">
            <td>TCP</td>
            <td>TCP</td>
        </tr>
        <tr class="danger">
            <td>HTTP</td>
            <td>HTTP</td>
        </tr>
        <tr class="info">
            <td>HTTPS</td>
            <td>HTTPS</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>